footer {
    background-color: #E2E2E2;
    .footer__core{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__core--item-one {
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: 50%;
        }
        p{
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: bold;
            color: #535353;
        }
    }
    .footer__core--item-two {
        display: flex;
        justify-content: space-between;
        width: 80%;
        div {
            display: flex;
            flex-direction: column;
            width: 20%;
        }
    }
}
