footer {
    background-color: #E2E2E2;
    .footer__core{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__sponsor{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px 0;
        flex-wrap: wrap;
        background-color: #D8D8D8;
    }
    .footer__core--item-one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 40px 0 75px 100px;
        div{
            width: 50%;
        }
        p{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #535353;
        }
    }
    .footer__core--item-two {
        display: flex;
        justify-content: space-around;
        width: 80%;
        padding: 40px 100px 10px 0;
        div {
            display: flex;
            flex-direction: column;
            width: 100%;

            p{
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              // font-weight: bold;
              color: #535353;
            }
        }
        span{
            font-size: 13px;
            margin-bottom: 16px;
        }
        h3{
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 2px solid #009688;
            width: 30px;
        }
    }
}
