footer {

    .footer__core{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__sponsor{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 40px 0;
        flex-wrap: wrap;
        background-color: #D8D8D8;

        @media (max-width: 1050px) {
            display: none;
        }
    }
    .footer__core--item-one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 40px 0 75px 10px;
        flex-wrap: wrap;

        @media (max-width: 1050px) {
            display: none;
        }

        div{
            width: 50%;
        }
        p{
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #535353;
        }
    }
    .footer__core--item-two {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        padding: 40px 10px 10px 0;

        @media (max-width: 1050px) {
            display: none;
        }
        div {
            display: flex;
            flex-direction: column;
            width: 20%;
            min-width: 125px;

            p{
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              // font-weight: bold;
              color: #535353;
            }
        }
        span{
            font-size: 13px;
            margin-bottom: 16px;
        }
        h3{
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 2px solid #009688;
            width: 30px;
            color: #28328C;
        }
    }

    .footer__core--item-three {
      display: none;
      padding: 0 50px;
      height: 80px;
      .logo{
        width: 50px;
        height: 46px;
        align-self: center;
        margin-right: 10px;
        background-image: url('../img/logo.svg');
      }
      h4{
        align-self: center;
        font-size: 18px;
        font-weight: bold;
      }
      @media (max-width: 1050px) {
          display: flex;
          justify-content: center;
      }
    }

}
