.form__coord{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #fff;
    min-height: 65vh;

    h2 {
      text-align: center;
      margin-top: 0;
      color: #28328C;
      font-weight: 700;
    }
    .form__subtitle{
        text-align: center;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        color: #AEAEAE;
        font-size: 16px;

        @media (max-width: 720px) {
          max-width: 90%;
        }
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    form{
      width: 90%;
      max-width: 408px;
    }
    input, select{
        font-size: 22px;
        width: 100%;
        padding: 10px 10px 10px 30px;
        box-shadow: inset 0px 0 5px 0 #CCD1D9;
        border-radius: 3px;
      	border: 1px solid #CCD1D9;
        color: #AAB2BD;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #AAB2BD;
          opacity: 1; /* Firefox */
        }
    }
    a{
        text-align: center;
        width: 100%;
        border-radius: 3px;
        padding: 15px;
        background-color: #3B8AFE;
        color: #FFF;
    }
}
