body{
  font-family: 'Roboto', sans-serif;
	background-color: #E2E2E2;
  margin:0;
  overflow-x: hidden;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @media (max-width: 1300px) {
    background-size:auto;
  }
}


@import 'header';
@import 'burger';

@import 'intro';
@import 'infobox';
@import 'advices';
@import 'about';
@import 'form';

@import 'footer';
